/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}
html{
    font-size: 62.5%;
    background-color: #f4f4f4;
}
body{
    font-size: 1.6rem;
}
.container{
  background-color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    align-items: center;
    margin: 0 auto;
    margin-top: 5rem;
    background-image: url("images/pattern-curve.svg"), url("images/pattern-quotes.svg"),url("images/pattern-bg.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom left, 50% 60% , top;
    background-size: 300px, 5rem, 38.5rem;
}

.image__container{
  width: 30rem;
  padding-top: 10%;
}
.image__container img{
  width: 100%;
  border-radius: 1rem; 
  box-shadow: 14px 40px 30px -17px rgba(0,0,0,0.3);
}
.button__container{
  display: flex;
  position: relative;
  background-color: #f9f9f9;
  height: 4rem;
  width: 8rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 3rem;
  margin-top:-3rem ;
  box-shadow: 12px 10px 7px -14px  rgba(0,0,0,0.3);
}
.button__container img{
  height: 12px;
}

.text__container{
  margin-top: 4rem;
  text-align: center;
  font-size: 300;
  font-weight: 200;
  padding: 2rem;
}
.text__container p {
  font-size: 2rem;
}
.footer{
  text-align: center;
  position: relative;
  margin-top:
}
.footer p {
  color: hsl(240, 18%, 77%);
}

